Source: bobs-git-utils
Section: devel
Priority: optional
Maintainer: Bob Wombat Hogg <wombat@rwhogg.site>
Build-Depends: debhelper (>= 9), ronn
Standards-Version: 3.9.8

Package: bobs-git-utils
Architecture: any
Depends: git-core, git-extras, ruby
Description: Bob Wombat Hogg's Git utilities
  Bob Wombat Hogg's Git utilities.
